/* In JavaScript, variables are defined using the let and const keywords. In Sass, variables start with a $ followed by the variable name.

Here are a couple examples:

$main-fonts: Arial, sans-serif;
$headings-color: green; */

// to export to .css sass --watch style.scss style.css

@import 'variables';
@import 'mixins';
@import 'card';

body {
    font-family: $fonts; /* variable usage */
    background-color: $primary-color;
    padding: $spacing;
    min-height: 100vh;
    @include flex-center(); /* using the mixins function */
}
// Sass has a feature called extend that makes it easy to 
// borrow the CSS rules from one element and build upon 
// them in another.
.big-panel{
    @extend .panel;
    width: 150px;
    font-size: 2em;
  }